.task-management-panel {
  @apply h-full w-full flex justify-center items-center before:content-[''] before:absolute before:top-0 before:left-0 before:right-0
   before:h-20  before:bg-primary-900 #{!important};

  h3 {
    @apply text-secondary-600 font-bold text-center mb-4 mt-2;
  }

  .task-wrapper {
    @apply rounded-md shadow-xl w-96 bg-secondary-50 min-h-[200px] px-3 pb-8;
    .task-container {
      @apply flex justify-between items-center border-b border-secondary-200 my-3 py-3 px-2;

      span {
        @apply mx-2 text-sm text-secondary-800 font-semibold #{!important};
      }

      .action-section {
        i {
          @apply text-lg font-bold cursor-pointer  #{!important};
          &:last-child {
            @apply ml-2;
          }
        }
      }

      .content {
        @apply flex justify-center items-center;
      }
    }
  }

  button {
    @apply mt-5;
  }
}

.complete-task {
  span {
    @apply line-through;
  }
  p {
    @apply bg-success-800 rounded-md text-white m-0 text-xs p-2;
  }
}
