.main-form {
  @apply relative p-2;

  .form-control {
    @apply rounded-md px-5 relative border border-secondary-300 w-full h-14 py-2 text-center  placeholder:text-secondary-400 text-right text-sm font-medium text-secondary-500;
  }

  label {
    @apply block text-sm font-semibold text-secondary-500 my-2 text-right #{!important };
  }
  input[type="checkbox"] {
    @apply float-right;
  }

  button {
    @apply absolute shadow-md hover:ring-inset right-4;

    // &[disabled] {
    //   @apply cursor-not-allowed opacity-40 #{!important};
    // }
  }
}
.main-form-inline {
  @apply flex justify-end items-center;

  label {
    @apply m-0 ml-1 #{!important};
  }
}
.danger {
  @apply text-danger-600 #{!important};
}

.success {
  @apply text-success-800 #{!important};
}

.primary {
  @apply text-primary-800 #{!important};
}
