@layer base {
  @font-face {
    font-family: "yekan";
    src: url("assets/fonts/yekan-heavy.woff") format("woff");
    font-weight: 800;
  }
  @font-face {
    font-family: "yekan";
    src: url("assets/fonts/yekan-fat.woff") format("woff");
    font-weight: 700;
  }
  @font-face {
    font-family: "yekan";
    src: url("assets/fonts/yekan-bold.woff") format("woff");
    font-weight: 600;
  }
  @font-face {
    font-family: "yekan";
    src: url("assets/fonts/yekan-medium.woff") format("woff");
    font-weight: 500;
  }
  @font-face {
    font-family: "yekan";
    src: url("assets/fonts/yekan-regular.woff") format("woff");
    font-weight: 400;
  }
}

.link {
  @apply text-sm text-info-600 font-semibold;
  i {
    @apply ml-2 text-lg font-normal;
  }
  &.link-center {
    @apply flex w-full justify-center items-center;
  }
}
