<section class="">
    <div class="task-wrapper" [formGroup]="taskForm">
        <div class="main-form">
            <label for="">نام تسک</label>
            <input type="text" class="form-control" formControlName="title">
        </div>
        <div class="main-form">
            <label for="">توضیحات</label>
            <textarea name="" id="" class="form-control" formControlName="description"></textarea>
        </div>
        <div class="main-form  main-form-inline">
            <input type="checkbox" name="" id="" formControlName="completed">
            <label for=""> : انجام شده</label>
        </div>

        <button class="btn btn-primary btn-large mt-3" (click)="submit()">تایید</button>
    </div>
</section>