/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@include mat.core();
$my-custom-typography: mat.define-typography-config(
  $font-family: "yekan",
);

@include mat.core($my-custom-typography);

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./assets/styles/imports.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  direction: ltr;
}

* {
  outline: none;
}
