<section class="task-management-panel">
    <div class="task-wrapper">
        <h3>لیست تسک ها</h3>

        <div class="task-container" *ngFor="let item of tasks" [ngClass]="{'complete-task': item.completed}">

            <div class="action-section">
                <i class="ti ti-trash danger" (click)="handleDeleteTask(item.id)"></i>
                <i class="ti ti-pencil primary" (click)="handleImplementTask(item)"></i>
                <i *ngIf="item.completed" class="ti ti-check success"></i>
            </div>

            <div class="content">
                <p *ngIf="item.completed">انجام شده</p>
                <span>{{item.title}}</span>

            </div>

        </div>

        <button class="btn btn-primary btn-large" (click)="handleImplementTask(null)">افزودن</button>

    </div>
</section>